{% set title = 'Willkommen' %}
{% extends "layout/default.twig" %}
{% block content %}


<ul class="nav nav-tabs clearfix">
    <li {% if order == '' %}class="active"{% endif %}><a href="{{site_url()}}">Top Ideas</a></li>
    <li {% if order == 'new' %}class="active"{% endif %}><a href="{{site_url('new')}}">Newest Ideas</a></li>
    <li {% if order == 'search' %}class="active"{% endif %}><a href="{{site_url('search')}}">Search</a></li>
</ul>

{% if order == 'search' %}
<form class="form-inline" action="{{site_url('search')}}">
    <label>
        Search for ideas:
        <input name="q" type="text" placeholder="Keywords" value="{{query}}">
    </label>
    <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
</form>
{% endif %}


<table class="table">
{% for idea in ideas %}
    <tr>
        <td>{{macro.votes(idea.id, idea.votes)}}</td>
        <td>
            <h3><a href="{{site_url('idea/show/' ~ idea.id)}}">{{idea.title}}</a></h3>
            <p class="muted">{{idea.description|shorten(140)}}</p>
            <p>by <strong>{{idea.fullname}}</strong> submitted at <em>{{idea.created}}</em></p>
        </td>
    </tr>
{% endfor %}
</table>

{% if order == 'search' %}
    {{pagination(site_url(order),limit,found, '?q=' ~ query|url_encode )}}
{% else %}
    {{pagination(site_url(order),limit,found)}}
{% endif %}

{% endblock %}