{% set title = 'Willkommen' %}
{% extends "layout/default.twig" %}
{% block content %}


<ul class="nav nav-tabs clearfix">
    <li {% if order == 'top' %}class="active"{% endif %}><a href="{{site_url()}}">Top Ideas</a></li>
    <li {% if order == 'new' %}class="active"{% endif %}><a href="{{site_url('new')}}">Newest Ideas</a></li>
</ul>


<table class="table">
{% for idea in ideas %}
    <tr>
        <td>{{macro.votes(idea.id, idea.votes)}}</td>
        <td>
            <h3><a href="{{site_url('idea/show/' ~ idea.id)}}">{{idea.title}}</a></h3>
            <p class="muted">{{idea.description|shorten(140)}}</p>
            <p>by <strong>{{idea.fullname}}</strong> submitted at <em>{{idea.created}}</em></p>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}