{% set title = idea.title %}
{% extends "layout/default.twig" %}
{% block content %}

<h2>{{title}}</h2>

<div class="pull-left">
    {{macro.votes(idea.id, idea.votes)}}
</div>

<p>by <strong>{{idea.fullname}}</strong> submitted at <em>{{idea.created}}</em></p>

<p>{{idea.description|prettytext}}</p>



{% endblock %}