{% set title = idea.title %}
{% extends "layout/default.twig" %}
{% block content %}


    <div class="showIdeaWrapper">


<h2>{{title}}</h2>


        {% if idea.status == 0 %}
            {{macro.votes(idea.id, idea.votes)}}
        {% else %}
            <div class="stateOfIdea">
            </div>
        {% endif %}


        <p>by <strong>{{idea.fullname}}</strong> submitted at <em>{{idea.created}}</em></p>
<p>State: <strong>{{_idea_states[idea.status]}}</strong></p>


<p>{{idea.description|prettytext}}</p>
</div>

{% if _user.role > 0 %}
    <div class="line"></div>
    <br>
    <form class="form-inline" action="{{site_url('idea/show/' ~ idea.id)}}" method="post">
        <legend>Moderation</legend>
        <select name="state">
            {% for sid, state in _idea_states %}
                <option value="{{sid}}" {% if idea.status == sid %}selected="selected"{% endif %}>{{state}}</option>
            {% endfor %}
        </select>

        <input name="statechange" type="submit" class="btn" value="Change State">

        or

        <a href="{{site_url('idea/edit/' ~ idea.id)}}" class="btn">Edit Idea</a>
    </form>


{% endif%}

{% endblock %}